<html>
  <body>
        <h1>Turn 1</h1>
    <link rel="stylesheet" href="/static/game.css">
    <form method="post" action ="">
        <h1>there are {{total_marbles}} marbles left</h1>
         <h3>how many marbles will you take?<input type="text" name="turn1"/></h3>
         <input type = "hidden" name = "turnNum" value = "1">
      <p><input type="submit" value="Submit"></p>
    </form>
    <script src="gm.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  </body>
</html>
