<html>
  <body>
        <h1>RULES!!!</h1>
        <link rel="stylesheet" href="/static/game.css">
    <form method="post" action ="">
         <h3>here are the rules:</h3>
         <h3> there are a total of 12 marbles, each turn someone takes up to 3 marbles, the player who takes the last marble wins!!!!!!</h3>
         <h3>do you understand the rules?<input type="text" name="start"/></h3>
         <a class="button" href="#">stuff</a>
         <input type = "hidden" name = "turnNum" value = "0">
      <p><input type="submit" value="Submit"></p>
    </form>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="gm.js"></script>

  </body>
</html>
